[2021-04-24 18:08] hkdwrld opened #2 "adding gitignore"
adding gitignore to prevent pushing bytecodes, database, media files

[2021-04-24 18:16] MidouWebDev commented on #2
https://github.com/divanov11/mumbleapi/blob/master/.gitignore

[2021-04-24 18:41] MidouWebDev commented on #2
@hkdwrld please close the issue
Thanks !

[2021-04-24 19:12] #2 closed

[2021-04-24 19:12] hkdwrld commented on #2
added gitignore

[2021-04-24 19:16] hkdwrld opened #5 "server error on unauthenticated user"
500 server error on unauthenticated users while viewing updating mumble and remumble
fix: add permission classes decorators (is authenticated)

[2021-04-24 22:39] MidouWebDev opened #7 "No description for the repo !"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

    There is no description for this repo !
    And no attached link

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://github.com/divanov11/mumbleapi'
2. Click on 'code'
3. Look at the right column
4. See the error

#

#

[2021-04-24 22:55] divanov11 commented on #5
I need to fix how the JWT is checked, working on this.

[2021-04-25 11:04] MidouWebDev commented on #7
Here is an example :

![Screenshot_20210425-110323_Samsung Internet](https://user-images.githubusercontent.com/72341453/115991040-f8658b00-a5b5-11eb-827b-d0adcda10331.jpg)

[2021-04-26 07:44] bashiru98 opened #15 "updating user profile info"
willl want handle user info update

[2021-04-26 16:55] bibekgupta3333 opened #17 "To enhance the codes in more shorter form in feed and users app"
# prologue
- [ ] To enhance form and users app

# changelog
- [ ] To enhance feed and users app models and views files
- [ ] To update the admin's files
- [ ]  To improve formating

# conclusion

[2021-04-26 17:26] divanov11 commented on #17
Can you be more specific?

[2021-04-26 18:12] PraveenMalethia opened #18 "Article App for API"
### Is your feature request related to a problem? Please describe.

    It will be Article features and API endpoints and models with Views obviusly

#

### Describe the solution you'd like

    It will make api for the Article to integrate with Frontend

#

[2021-04-26 18:24] MidouWebDev opened #19 "Testing the bot in our discord server"
Just testing the bot

[2021-04-26 18:25] MidouWebDev commented on #19
It is working

[2021-04-26 18:25] #19 closed

[2021-04-26 18:28] divanov11 commented on #7
Just added this..

[2021-04-26 18:31] MidouWebDev commented on #7
Okey

[2021-04-26 18:31] #7 closed

[2021-04-26 19:11] divanov11 opened #20 "Delete Mumble endpoint needed"
We need endpoints to Delete mumbles (Posts).

Endpoint should be in the "Feed" app.

![Delete Route](https://user-images.githubusercontent.com/33843378/116137570-55863d00-a699-11eb-802b-87f140f17b40.PNG)

[2021-04-26 19:19] divanov11 opened #21 "Feed Pagination Needed"
I have the feed rendering posts from people a user is following but we may also want to add pagination along with "lazy load" on the frontend.

[2021-04-26 19:24] divanov11 opened #22 "Notifications"
We will need notification for the following:

- New Follows
- Comments & Replies
- Retweets
- Votes
- User post notifications
- New discussion and articles

I have seen several ways of implementing this. Maybe we can start a open discussion on the best way of implementing this? If you have ideas, speak up ;)

![Notifcations](https://user-images.githubusercontent.com/33843378/116139497-adbe3e80-a69

[2021-04-26 19:28] codyseibert commented on #20
I'd like to try implementing this logic so I can learn a bit about python.

[2021-04-26 19:31] divanov11 opened #23 "Skills and Topic tags"
Model for Skill and Topic Tags needed. At this point I feel both tags can be added in the "Users" app.

We also need to render these tags in the user serializer. At this point we just have hard coded values.
![User Tags](https://user-images.githubusercontent.com/33843378/116139866-20c7b500-a69c-11eb-9296-a3c846c2536a.PNG)

[2021-04-26 19:36] codyseibert opened #24 "Edit Mumble endpoint needed"
We need endpoints to Edit mumbles (Posts) that the user owns.

Endpoint should be in the "Feed" app.

![Delete Route](https://user-images.githubusercontent.com/33843378/116137570-55863d00-a699-11eb-802b-87f140f17b40.PNG)

[2021-04-26 19:40] divanov11 commented on #15
Can I close this issue? I saw your PR but I'm not sure if its exactly related to this issue.

[2021-04-26 21:26] abhivemp commented on #23
The Tags can be their own model and it just has a name column (making this the primary key), since we want tags to be unique.

Skills can probably be designed the same way, with a skill name as the column.

Since a user can have many tags and skills, this would be a one-to-many relationship.

I am down to take this issue to work on. If this is okay, then I would love to discuss it before I proceed

[2021-04-26 21:51] divanov11 commented on #23
On our last call I think we talked about making this many to many. This way of a tag exists another user can use it. Also makes it easier to assign tags to articles and discussion later down the road. Make sense?

[2021-04-26 22:01] abhivemp commented on #23
Yes, that makes sense! So a many-to-many relationship in models? I assume we are doing this for the Skills model as well?

[2021-04-26 23:21] davidtolosa commented on #23
I agree with Dennis. You need a many to many relationship, is the same for Skills and Interests.

[2021-04-27 00:29] abhivemp commented on #23
Sounds good! I'll be assigning this issue to myself and will be working on this.

[2021-04-27 01:27] bashiru98 commented on #15
Am yet to finish some small touches so you can close

[2021-04-27 01:53] Kaushal-Dhungel commented on #24
Hello. I would like to work on this issue.

[2021-04-27 10:49] Muntasir-Mahmud commented on #21
I've plan to solve this by
- creating a new pagination.py file in mumblebackend directory.
- then make a custom pagination for the mumbles of feed
- then add the pagination to the mumbles function

[2021-04-27 11:16] Muntasir-Mahmud commented on #22
If being real-time is not important then the easiest way maybe is to
- create notifications when we are creating/updating New Follows, Comments & Replies, Retweets, Votes, etc
- then render it for a
- and from the frontend request to

[2021-04-27 11:21] Muntasir-Mahmud commented on #22
If being real-time is not important then the easiest way maybe is to

- create notifications when we are creating/updating New Follows, Comments & Replies, Retweets, Votes, etc
- then return the notifications of a requested user in an endpoint
- and from the frontend request to that endpoint after a short interval again and again

But if we want to implement real-time notification then maybe we ha

[2021-04-27 14:37] abhivemp commented on #24
@Kaushal-Dhungel assigned this issue to you!

[2021-04-27 14:49] #17 closed

[2021-04-27 17:20] PraveenMalethia opened #30 "Add db.sqlite3 to .gitignore"
### Describe the bug

A clear and concise description of what the bug is that we should remove the DB.sqlite3 from the repo or add it to .gitignore so that we can avoid merging conflict and docs for createsuperuser command so that anyone contributing the repo can view and add their data in admin panel and test out everything that they have done !

### To Reproduce

Steps to reproduce the behavior:

[2021-04-27 17:35] Hrithik5 opened #31 "Datetime library import Error"
### Preflight Checklist

[[]] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

    In the Users/views.py file on line 171, there is an undefined variable error i.e the DateTime library is not imported

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'users folder'
2. Click on 'views.py file'
3. Scroll dow

[2021-04-27 17:36] MidouWebDev commented on #31
So you wanna work on it ?

[2021-04-27 17:36] Hrithik5 commented on #31
Yes

[2021-04-27 17:37] MidouWebDev commented on #31
I will assign you @Hrithik5

[2021-04-27 17:37] Hrithik5 commented on #31
Okay

[2021-04-27 17:55] #31 closed

[2021-04-27 18:00] #30 closed

[2021-04-27 18:21] itzomen opened #34 "Discussion app for Mumble Api"
### Is your feature request related to a problem? Please describe.

    I will like to work on the discussion app for the mumble API

#

### Describe the solution you'd like

    Firstly, I will create the discussion app with the models for the discussion.
    Then I will proceed in making the endpoints and any future adjustments.

[2021-04-27 18:22] MidouWebDev commented on #34
@itzomen i assigned you

[2021-04-27 19:33] itzomen commented on #30
You have added the db.sqlite3 but the grignote isn't working

[2021-04-27 19:42] itzomen opened #36 ".gitignore file is not working properly"
### Describe the bug

    The .gitignore file is not working properly i.e can't exclude the db.sqlite3 file

#

### To Reproduce

Steps to reproduce the behavior:

1.  Pull Recent changes from the repo
2. You will see that the SQLite database is not excluded
#

### What was expected ?

    The SQLite database is supposed to be ignored

#

### Screenshots
![Screenshot from 2021-04-27 20-39-29](http

[2021-04-27 19:52] PraveenMalethia commented on #36
You should to Refork and then clone again! it's working! let me know if this still doesn't work!

[2021-04-27 19:54] PraveenMalethia commented on #36
Or try this !

`git remote add upstream https://github.com/divanov11/mumbleapi.git
git fetch upstream
git merge upstream/branch`

[2021-04-27 19:57] itzomen commented on #36
That's exactly what I did.
I'm presently working on a PR to fix this

[2021-04-27 20:05] itzomen commented on #36
The files/folder in the version control will not just delete themselves just because you added them to the .gitignore. They are already in the repository and they have to be removed. And I'm fixing that now

[2021-04-27 20:15] PraveenMalethia commented on #36
You can try git add .
And then see if the sqlite db is removed or not

[2021-04-27 20:18] itzomen commented on #36
Not removed, are you sure it's removed on your side?

[2021-04-27 20:20] PraveenMalethia opened #37 "Delete and edit Report API"
A clear and concise description of code will be to add edit and delete to article , comment edit and delete .

[2021-04-27 20:22] PraveenMalethia commented on #36
I tried deleting the local project and then clone . Then it worked . You can copy you code which you did and then paste into the newly cloned repo

[2021-04-27 20:25] itzomen commented on #36
Ok

[2021-04-27 20:35] PraveenMalethia opened #38 "Email verification for user"
add email verification system

### the solution i'd like

A clear and concise description of what i want to happen is that we should add a boolean field to the user model and a view to send verification email with token to user's provided email and frontend devs will make an email verification template to use in the email that will be sent to the user for verification.

[2021-04-27 20:37] itzomen commented on #36
@PraveenMalethia the database is still included. Try modifying the database content and you will see it in the commits.
![Screenshot from 2021-04-27 21-36-11](https://user-images.githubusercontent.com/61752841/116309482-b6e50380-a7a0-11eb-842d-49d119241b2a.png)
Once you confirm there is an issue, you can assign it to me let me fix

[2021-04-27 20:43] PraveenMalethia commented on #36
i got a solution just a mint please

[2021-04-27 21:34] itzomen commented on #23
Hi there, just wanted to mention something that might be significant.
The skills and tags will be used in several apps e.g user, article, discussion; So I think it would be nice if we define those models in the users' app or preferably in a base app which will contain all the models used across the mumble apps. I think the latter is a better approach for scalability.
Thanks

[2021-04-27 21:34] PraveenMalethia commented on #36
I have assigned the issue to you ! go ahead 👍🏻

[2021-04-27 21:51] davidtolosa commented on #23
Another doubt I have is how the skills and topics tags will be created. The users will can add new tags? Or there will be a predefined list of tags?
Cheers!

[2021-04-27 22:20] davidtolosa commented on #36
I think you need something like this:

![image](https://user-images.githubusercontent.com/15279745/116319767-7c25a000-a78d-11eb-8547-a8247a2d05f0.png)

https://stackoverflow.com/questions/1274057/how-to-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore

[2021-04-28 00:28] #20 closed

[2021-04-28 02:41] itzomen commented on #36
Yeah I fixed that already

[2021-04-28 02:41] #36 closed

[2021-04-28 02:43] itzomen commented on #23
The user can create if that specific tag doesn't exist

[2021-04-28 02:48] abhivemp commented on #23
A base app isn't a bad idea if other apps are using this info. Though in this issue @divanov11 did say he wants to add it in the tags for now. Dennis, any pointers?

[2021-04-28 02:49] abhivemp commented on #23
I agree. Create tags if it doesn't exist. Probably a future feature.

[2021-04-28 02:57] itzomen opened #40 "Add database content in json"
### Is your feature request related to a problem? Please describe.

    Since the database has been removed from the repository, it is necessary to have some similar content in our database for Development purposes

#

### Describe the solution you'd like

    I want to create a json file that will contain database content which contributers can load into their database. This permit contributers t

[2021-04-28 04:37] itzomen opened #41 "IntegrityError at /admin/auth/user/"
### Preflight Checklist

 FOREIGN KEY constraint failed Error on users table

### Describe the bug

This error is raised when you try to delete a user in the database
### To Reproduce

Steps to reproduce the behavior:

1. Go to 'http://127.0.0.1:8000/admin/auth/user/'
2. Select a user
3. Choose to delete on action bar
4. See an error

### What was expected ?

The user is supposed to be deleted suc

[2021-04-28 05:55] #18 closed

[2021-04-28 06:49] Subhojit-Dey1234 commented on #41
I have gone through it. I guess it is working fine.

[2021-04-28 06:57] Kaushal-Dhungel commented on #24
hello @abhivemp , @codyseibert . Should I add PUT method in createMumble function i.e @api_view(['POST', 'PUT'])  or should I make a new function named editMumble with @api_view['PUT'] ??

[2021-04-28 09:12] PraveenMalethia commented on #40
Okay , it will be a good Adition . Im assigning to myself .
Will do it .

[2021-04-28 10:58] bashiru98 commented on #15
this issue is done so we can close

[2021-04-28 15:34] itzomen commented on #40
Alright great 😊

[2021-04-28 16:00] #15 closed

[2021-04-28 17:22] PraveenMalethia commented on #23
for MVP we can start with predefined tags and then feature creating tags if don't exist!

[2021-04-28 17:30] #40 closed

[2021-04-28 18:15] abhivemp opened #44 "Update Gitflow and Contributing Section and PR Template Report"
### Preflight Checklist

- [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

### git flow with PRs

To solidify our contributing and gitflow process: the community has agreed to put in place a system. These are the following updates to contributing to this repo

1. Going forward, all Pull Requests will require 2 reviewers prior to merging. If

[2021-04-28 18:27] PraveenMalethia opened #45 "Adding Automatic Migration Command for deployment"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is that when any new migrations are made then they are not applied in the Heroku DB

### Describe the solution you'd like

A clear and concise description of what I want to happen is that whenever new migrations are made then the deployment should also apply new migrations to the

[2021-04-28 18:59] PraveenMalethia commented on #44
Sounds Good! 👍🏻

[2021-04-28 19:59] codyseibert commented on #24
@Kaushal-Dhungel I'd say a separate method

[2021-04-28 20:25] PraveenMalethia opened #46 "adding heroku database configs"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is that we can add configs to use Heroku Postgres database for deployment without SQLite

### the solution I'd like

A clear and concise description of what I want to happen is that to add configs to add settings for using Heroku Postgres at deployment and using SQLite for local

[2021-04-28 20:36] codyseibert commented on #22
@divanov11 could we just use a signal to basically grab all the followers of the user who created an article (or mumble, etc), and then just create a notification for each one of their followers?

[2021-04-28 20:57] PraveenMalethia opened #47 "one User can delete edit other user article using enpoint with id of another use article id"
### Describe the bug

A clear and concise description of what the bug is that using postman anyone can get authorized and then using auth that user can delete or edit other user post or article or comment providing id to URL

### To Reproduce

Steps to reproduce the behavior:

Login to your account! Hit the user article, article comment  delete or edit URL with other users article id using postman

[2021-04-28 21:01] abhivemp commented on #34
I think we have to keep this issue on hold since the Tags would be a model. There was a discussion on making a base app so other apps can use the Tags model, but that design decision isn't final. @itzomen

[2021-04-28 21:38] #47 closed

[2021-04-28 21:38] #37 closed

[2021-04-28 23:20] codyseibert commented on #22
I want to try working on this feature.

[2021-04-29 03:26] itzomen commented on #34
Alright 👍, well I was planning to keep the tags field commented but I would just wait.

[2021-04-29 05:51] itzomen commented on #34
I have submitted a PR to solve this and I did not include the tags field. The tags field will be included after issue #23 is resolved

[2021-04-29 07:04] PraveenMalethia commented on #41
![image](https://user-images.githubusercontent.com/59171685/116513390-236a1a80-a8e7-11eb-97fd-165286096c0d.png)

User deleted!

[2021-04-29 07:06] #41 closed

[2021-04-29 08:48] itzomen commented on #21
@Muntasir-Mahmud are you working on this because I see you are not assigned to this and I could work on it😊

[2021-04-29 09:53] Muntasir-Mahmud commented on #21
@itzomen Actually I am waiting to be assigned to this issue. 😅

[2021-04-29 10:20] PraveenMalethia commented on #21
We can just make pagination using rest framework ! Using list based view

[2021-04-29 12:58] #34 closed

[2021-04-29 14:22] #38 closed

[2021-04-29 23:36] #5 closed

[2021-04-30 04:51] raushanrk5 commented on #23
I think we should, one more column in both the modal named, slug. And if we could use django-taggit, I think it will be also good. Aand I am also in support of many to many relationship for both the table.

[2021-04-30 09:41] PraveenMalethia commented on #44
@abhivemp  are you working on the PR template?

[2021-04-30 11:13] abhivemp commented on #44
I am, yes. Should be getting a PR about this very soon.

[2021-04-30 11:36] PraveenMalethia opened #55 "User change Password"
Adding forget password or reset Password Setting for Users .

[2021-04-30 11:42] MidouWebDev commented on #55
I am working on the forget password page
I am going to upload the forgotpwd mail template soon

[2021-04-30 22:10] #45 closed

[2021-04-30 22:10] #46 closed

[2021-04-30 22:13] #44 closed

[2021-05-01 10:10] PraveenMalethia opened #59 "Endpoint and view for User reset password using Email"
Including an endpoint for a user to reset their password via email without login

### Describe the solution you'd like

A clear and concise description of what I want to happen is the user can enter their email in the form and if there will be any user associated with that email then the backend will send an password reset email to that user's email

### Describe alternatives you've considered

Cr

[2021-05-01 10:27] #55 closed

[2021-05-01 18:05] MidouWebDev opened #61 "Request failed with status code 500 (login)"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

I can't login

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Type the username and password
3. Login
4. See error : Request failed with status code 500

[2021-05-03 22:11] #24 closed

[2021-05-04 11:04] #21 closed

[2021-05-04 11:05] #22 closed

[2021-05-04 15:33] PraveenMalethia commented on #61
The issue is resolved now! Please try to create an account and log in!

[2021-05-04 15:33] #61 closed

[2021-05-04 22:07] PraveenMalethia opened #66 "Writing Test for API !"
Writing Automated Test to make sure some bugs keep themselves out

### Describe the solution you'd like

A clear and concise description of what I want to happen is to write automated tests for every app to make sure they are working as expected.

[2021-05-07 11:29] RemcoHalman opened #70 "License Update"
The same part as in [Mumble Issue](https://github.com/divanov11/Mumble/issues/335). I would like to make the update in the License 👍🏻

[2021-05-07 14:17] abhivemp opened #72 "Update Contributing Guidelines for Code Review"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Update the contributing guidelines and PR template because non-collaborators cannot add reviewers or labels.

#
### Solution

We'll ask PR authors to tag reviewers in the post if they want someone specifically to review. Or else, collab in char

[2021-05-07 14:20] #70 closed

[2021-05-08 21:39] #72 closed

[2021-05-09 10:56] PraveenMalethia opened #77 "Sentry Send Error reports only for production"
The Sentry SDK should only send the Error reports when the website is live or should I say when the website hit any error at the local development server it sends error reports to sentry SDK, that should not be the case!
we have to allow the sentry SDK to send an error when the website is live on the Heroku server ! not on the local server!

### To Reproduce

Steps to reproduce the behavior:

1. G

[2021-05-11 14:58] patel-jay14144 opened #85 "User Recommendation Enhancement"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is.

- In the API endpoint of User recommender in the 'user' application, the users are being recommended based on their primary key that literally makes no sense.

#

### Describe the solution you'd like

A clear and concise description of what you want to happen.

- A recommend

[2021-05-11 15:54] abhivemp commented on #85
Hi @patel-jay14144 !

Thanks for your suggestion. You actually beat me in making this issue!
First off, we are returning for the first few users from the database for now. It's just a beta release after all.

[2021-05-11 15:55] abhivemp commented on #85
Can you discuss how you are going to build a recommender system? Is it with the apriori algo?

[2021-05-11 16:02] patel-jay14144 commented on #85
It depends what kind of recommendation we want, I'll see if I get any article for types of recommendation systems and link that in the following comment so that we can discuss it further

I have made one recommendation system using K- Nearest Neighbour Algorithm, the choice of this algorithm was because of the situation

[2021-05-11 16:37] patel-jay14144 commented on #85
Yes if we are maintaining those details about every user then using Apriori makes sense

[2021-05-11 17:44] codyseibert commented on #85
like @abhivemp said, I'd maybe just start with randomly grabbing active users who have similar skills and interests?  The mention of machine learning and Apriori sounds cool, but I'm worried that people new to mumble will be suppressed because the algorithm only promotes the "most known and liked" in the system.

[2021-05-11 19:19] codyseibert opened #88 "Refactor Notifications to use Foreign Keys"
### Is your feature request related to a problem? Please describe.

Our notifications link back to other models using content_id, but we don't use any type of foreign key.  We want to refactor our notification model to have references to the article, mumble, follow_user, etc that the notification was originally created for to describe the event.

[2021-05-12 01:27] itzomen commented on #88
So basically, Creating foreign keys on the notification model that links to the other models?

[2021-05-12 02:27] itzomen opened #89 "setup editor config, flake8 and isort"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

- Want to add a basic .editorconfig file
- Next, we’ll add flake8 to enforce PEP8 rules
- Finally,  isort to have a standard way of sorting imports

#

### Additional context

Well, the main aim is to maintain style consistency in the project as it grows.

[2021-05-12 09:17] abhivemp commented on #89
Hey @itzomen
Thanks for your suggestion! How do you want flake8 styling to work? Usually, it goes by every branch merge. Are you thinking of something else?

[2021-05-12 12:38] MidouWebDev commented on #89
@itzomen bro, you forgot adding your issue to the project board
Can you please check the [CONTRIBUTING](https://github.com/divanov11/mumbleapi/blob/master/Contributing.md) Guidelines

[2021-05-12 16:22] Saketh-Chandra opened #91 "Redirect to HTTPS"
### Describe the bug:

Redirect the URL to HTTPS

#

### Screenshots:
![image](https://user-images.githubusercontent.com/46235445/118007721-04996880-b36a-11eb-8e55-17e3245db501.png)
#

### Solution:
Add the following to the `settings.py` file, adding the middleware to your existing **MIDDLEWARE list** if one exists.

[code]
Source:
- [https://django-secure.readthedocs.io/en/latest/settings.html#se

[2021-05-12 16:25] itzomen commented on #89
Well, wanna just setup the basic for code linting so we follow pep8 rules

[2021-05-12 16:52] gauthampkrishnan commented on #91
Hello,
Can I take up this work for fixing this bug?

[2021-05-12 17:01] Saketh-Chandra commented on #91
Hello @gauthampkrishnan,
I'm waiting for confirmation from @divanov11 or @PraveenMalethia

[2021-05-12 17:05] gauthampkrishnan commented on #91
Okay, thanks for your reply.

[2021-05-12 18:29] PraveenMalethia commented on #91
This is already set up in settings.py
You can just uncomment that and open a PR ! after a review I will merge if everything will be okay!

[2021-05-12 18:31] PraveenMalethia commented on #91
![image](https://user-images.githubusercontent.com/59171685/118026268-3f0d0080-b37e-11eb-9cd0-72b4743752c7.png)

Sorry but as I can see the API is in SSL mode!

[2021-05-12 19:32] Saketh-Chandra commented on #91
Hello @PraveenMalethia,

Yeah, for that, you have to write `s` explicitly in the `http://url` to use `https://url` protocol

For example, Try Google [http://www.google.com/](http://www.google.com/), Which will Redirect to [https://www.google.com/](https://www.google.com/)

#### The demo video of [google.com](http://www.google.com/)

[demo](https://user-images.githubusercontent.com/46235445/1180330

[2021-05-12 21:11] rifat0rahman opened #92 "social-auth activate or anyone working?"
### I  wanna add the functionalities of using the social auth.

I have noticed the ` social-auth`  (login with google) is not ready to go .I wanna do the func using djoser authentication. Or anyone working to set that up?

[2021-05-12 21:12] Hisham-Pak opened #93 "Follow Flake8 PEP8 Guidelines"
#### Flake8 warns PEP8 violations.

This flake8 run assumes:

- excluding files \_\_init\_\_.py, \_\_pycache\_\_, apps.py, manage.py, migrations, settings.py, tests and .env
- ignoring W504, W601 (PEP8 rules)
- sets max line length to 119

All of the other defaults can be seen [here](https://flake8.pycqa.org/en/latest/user/options.html).

<details>
<summary>Flake8 Warnings</summary>
<pre>
.\articl

[2021-05-12 22:49] PraveenMalethia opened #95 "Exception handling to user registrations"
![image](https://user-images.githubusercontent.com/59171685/118053482-3a5a4380-b3a2-11eb-81c7-4a46555a69eb.png)

Working on the issue in which user with already registered credentials cant register again !

[2021-05-13 00:57] gauthampkrishnan commented on #91
I can try to solve this @Saketh-Chandra

[2021-05-13 01:20] gauthampkrishnan commented on #91
I can take up this work @PraveenMalethia

[2021-05-13 01:38] SahasSaurav opened #96 "With same email I can register multiple user"
I was able to register multiple users with the same email

[2021-05-13 01:42] SahasSaurav opened #97 "Email validation for user to check whether owns that email or not"
I was able to register an account with johndoe@gmail.com and we can send an email  to the user claiming an email with a magic link that has a jwt token

[2021-05-13 01:43] PraveenMalethia commented on #97
you already addressed this concern in your previous issue!

[2021-05-13 01:43] #97 closed

[2021-05-13 01:54] SahasSaurav commented on #96
I was able to register with password abc  which literally means there is client side and server side validation for password

[2021-05-13 03:14] #91 closed

[2021-05-13 06:23] itzomen commented on #96
Yeah, this makes sense we using the User model from django.contrib.auth.models, where the email field is not Unique.
I would love to work on this by creating our own user model

[2021-05-13 08:26] MidouWebDev commented on #96
@itzomen i assigned you

[2021-05-13 11:34] rifat0rahman opened #101 "While login, my username with uppercase becomes lowercase"
### Describe the bug

I have an account called _Rifat_. while I tried to login via that . It says   `No active account found with the given credentials`
#

### To Reproduce

Steps to reproduce the behavior:
I noticed is that while I put my username with uppercase It automatically becomes lowercase I knew code is magic but I didn't know it.

#

[2021-05-13 12:01] MidouWebDev commented on #101
Yeah, i noticed that !

[2021-05-13 12:10] sahilasopa opened #102 "Users Not Unique"
Bug IN RegisterView(APIView):

While Creating An User/Account We Can Use Same Mail ID For Multiple Accounts, Which isn't An Issue Until We Wanna Reset Password/ Multiple Password Crashes

Issue 2:
Usernames Not Unique,
I Can Pretend To Dennis And Get Followers Because Of This Bug

[2021-05-13 13:52] MidouWebDev commented on #92
@PraveenMalethia

[2021-05-13 13:54] codyseibert opened #104 "Work on Avatar Endpoint"
We need to fix up the image upload endpoint so that people can update their avatar image.

[2021-05-13 13:54] codyseibert commented on #104
I'll work on this one

[2021-05-13 13:59] MidouWebDev commented on #104
#105

[2021-05-13 13:59] #104 closed

[2021-05-13 14:05] MidouWebDev commented on #102
#96

[2021-05-13 14:50] raaahuuulll commented on #92
I have worked with django-allauth for this functionality. It provides support for other social networks as well.

[2021-05-13 15:37] abhivemp commented on #102
Closing this issue. Duplicate to #96. Thanks for the bug report @sahilasopa but please check for existing issues before opening a new one.

[2021-05-13 15:37] #102 closed

[2021-05-13 16:05] mukhtarB commented on #92
I also have knowledge of django Allauth and Oauth how could I contribute. Thanks

[2021-05-13 18:46] Hrithik5 opened #106 "Invalid discord link"
Discord Link in Readme.md file not working

Screenshot

![Screenshot (137)](https://user-images.githubusercontent.com/60300927/118172016-857b6180-b449-11eb-8757-ec74bd4eef64.png)

[2021-05-13 18:48] MidouWebDev commented on #106
@Hrithik5 go for it buddy 😉😂

[2021-05-13 18:51] Tse7en opened #107 "share delete post"
when you post in mumble and share it then when you want to delete it it delete also the orign post like it is same token in the database and also the new post most be up and down to old post in your profile . i had an idea for story and messages and also skills not work there more if you wanna to tell you thenks for your hard work

[2021-05-13 18:57] Hrithik5 commented on #106
This issue is solved

[2021-05-13 18:57] #106 closed

[2021-05-13 20:38] MidouWebDev commented on #107
Should i assign you ?
@Tse7en

[2021-05-13 20:48] codyseibert commented on #101
we should probably just force the login username to lowercase when they try to hit the login endpoint

[2021-05-13 23:43] PraveenMalethia commented on #101
This issue should be on frontend !

[2021-05-13 23:46] PraveenMalethia commented on #96
@itzomen  No, we don't need to make User models to be extended from the AbstractUser model.
I already talked to Dennis about this approach!
He denied so you can work on writing some logic in the Register view to prevent this issue!

[2021-05-13 23:51] PraveenMalethia commented on #92
Yep, this is not developed yet! As discussed We will complete this when all of the core features are implemented correctly!
I request, not to work on this for now, but later I will assign, and then that user can work on that!

[2021-05-13 23:54] PraveenMalethia commented on #88
@codyseibert assigned the issue to you! coz you know better what else needs to be updated after making content as a foreign key!
For any help, just text me on discord!

[2021-05-13 23:58] #95 closed

[2021-05-14 00:14] rifat0rahman commented on #92
it won't work with all-auth. It needs to be done with something supports rest.All-auth for django templating.

[2021-05-14 00:15] rifat0rahman commented on #92
All-Auth doesn’t work here

[2021-05-14 00:21] PraveenMalethia opened #111 "User able to delete the Remumbled Post !"
### Describe the bug

A clear and concise description of what the bug is that the user is not able to delete the post the was remumbled by the user!

#

## Solution
Make an endpoint to delete the Remumbled post which was done by the current user!

[2021-05-14 10:47] MidouWebDev commented on #101
https://github.com/divanov11/Mumble/commit/146cbd255548508db6912cbfe95eac52319e6fce

[2021-05-14 10:47] #101 closed

[2021-05-14 11:48] #111 closed

[2021-05-14 15:32] codyseibert opened #115 "Remumble Failing on Certain Mumbles"
I tried to remumble a post, and the API threw a 500 error saying it found more than 20 mumbles when it expected only 1.

![Screen Shot 2021-05-14 at 11 30 21 AM](https://user-images.githubusercontent.com/1868782/118293830-14b76200-b4a8-11eb-945c-82fb50692db3.png)

[2021-05-14 16:14] itzomen commented on #96
Alright,

[2021-05-14 18:21] PraveenMalethia commented on #115
i did some edits in remumble ! lemme handle that !

[2021-05-14 20:07] PraveenMalethia commented on #115
@codyseibert  let me know what was in the body argument of the ajax request!

[2021-05-15 00:19] Muntasir-Mahmud commented on #115
I think I can fix this issue.

[2021-05-15 05:48] M-krishna commented on #89
Hey, if this is not started I can pick this up. Thanks!

[2021-05-15 06:06] M-krishna opened #118 "Feat: Add django-debug-toolbar"
### Problem
As the project grows the codebase will contain huge number of urls, views, models etc. It may be hard for an individual to trace back the error that he/she never seen before.

### Solution
* By including the [django-debug-toolbar](https://django-debug-toolbar.readthedocs.io/en/latest/installation.html) in our project, we may reduce the time taken for an individual trace back to the roo

[2021-05-15 06:56] shivamkasat opened #119 "Seo friendly link for articles"
### Adding slug field in articles
we can add slug field to articles model so that later we can create seo friendly links for each articles.

[2021-05-15 07:22] abhivemp commented on #89
@M-krishna it's already been implemented. We aren't pushing this patch yet because this is a post-MVP feature

[2021-05-15 07:24] abhivemp commented on #118
@M-krishna would you like to work on this?

[2021-05-15 07:25] abhivemp commented on #119
@PraveenMalethia @codyseibert

[2021-05-15 07:42] M-krishna opened #120 "Feat: Improve Test Suite"
### Problem
As the project grows we need to add in more and more test cases to early detect bugs and be confident about the feature we wrote. The current setup limits us to write test cases in a linear way which may contain repetition of code in more places and also difficult for to extend..

### Approach
* Add in [coverage](https://pypi.org/project/coverage/) and [pytest-cov](https://pypi.org/pro

[2021-05-15 07:42] M-krishna commented on #118
Yup! You can assign me.

[2021-05-15 07:47] M-krishna commented on #89
Cool then!

[2021-05-15 10:31] rshalem opened #122 "Redirecting to an article detail view based on search query isn't working"
### Preflight Checklist

[I have searched the issue tracker for this issue and couldnt find any, hence created a new one]

#

### Describe the bug

When an article is searched for, it displays article if present, but redirecting to that searched article isn't working when clicked
#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Homepage'
2. Click on Enter after search query is type

[2021-05-15 10:34] rshalem commented on #122
I would be happy to contribute to it somebody is not. Thanks

[2021-05-15 12:33] MidouWebDev commented on #66
@PraveenMalethia should this issue be closed ?

[2021-05-15 12:34] MidouWebDev commented on #122
@rshalem i assigned you !

[2021-05-15 12:39] Sachin-chaurasiya commented on #96
Can I work on this issue?

[2021-05-15 13:19] VladMikheenko opened #124 "permissions.py file to increase API views DRYness"
### Is your feature request related to a problem? Please describe.

At present we use **if statement** to check whether the API user is owner of the requested object or not. Therefore, we have a lot of duplicates in our code and extra layer of indentation.

#

### Describe the solution you'd like

I want to create permissions.py file with very simple custom permission, which we can use in our func

[2021-05-15 13:38] VladMikheenko commented on #124
Custom permissions are not working for function-based views.

[2021-05-15 13:38] #124 closed

[2021-05-15 13:41] VladMikheenko commented on #124
Should we rewrite our views to class-based or it is so dramatic change?

[2021-05-15 13:48] M-krishna commented on #120
@MidouWebDev @abhivemp @PraveenMalethia @divanov11 @codyseibert I would love to hear feedback from you guys.

[2021-05-15 16:39] #96 closed

[2021-05-15 16:57] #115 closed

[2021-05-15 16:58] itzomen commented on #107
@Tse7en could you provide steps to reproduce and maybe re-explain because it wasn't really explicit.
If English is not your native language, Do you know French/Spanish/German? because I think you used google translate

[2021-05-15 17:05] codyseibert commented on #107
Next time please put a list of steps needed to reproduce.

[2021-05-15 18:12] Sachin-chaurasiya commented on #119
Can I work on this issue

[2021-05-15 18:38] MidouWebDev commented on #119
@PraveenMalethia

[2021-05-15 18:39] MidouWebDev commented on #119
Please wait for @PraveenMalethia 's opinion

[2021-05-15 18:54] PraveenMalethia commented on #119
It's a good point but you can work on that after we finish the minimum launchable product! If you can work on this then you are good to go after we finish!

[2021-05-15 18:59] PraveenMalethia commented on #120
Yep that a good suggestion and for now, Not to complicate things too much and working on refactoring too much will consume too much time! as for a regular test which Django provides are good enough for now! but this will be good for the long run!
You can let me know if you can work on this!

[2021-05-15 18:59] abhivemp commented on #119
@Sachin-chaurasiya

[2021-05-16 04:15] codyseibert commented on #120
@M-krishna coverage would be nice, and so would test for feature.  👍

[2021-05-16 04:18] M-krishna commented on #120
@PraveenMalethia yup, I can work on this feature. And also this won't affect MVP release.
I'll break down this up and create a separate release plan. Thanks!

[2021-05-16 07:51] PraveenMalethia commented on #120
@M-krishna im currently working on test . So let me know what will be the difference between them .

[2021-05-16 08:05] #93 closed

[2021-05-16 08:07] abhivemp commented on #89
@itzomen I am going to open your PR. Let's it is corporate this feature because it's the least we can do to clean up the codebase. Update your branch accordingly and tag me when you are done. I'll reciew and merge.

[2021-05-16 12:32] M-krishna commented on #118
Closing this issue and the related PR, since @PraveenMalethia feels like it'll confuse the beginners.

[2021-05-16 12:32] #118 closed

[2021-05-17 00:32] codyseibert opened #129 "Duplicate usernames with different case sensitivity"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug
Anyone can register the same username by changing one of the characters to uppercase. Our api should convert all usernames to lowercase before checking if the user exists.

#

### To Reproduce

Steps to reproduce the behavior:

1. Register a use

[2021-05-17 12:20] Kaushal-Dhungel commented on #129
Hello, I would like to work on this.

[2021-05-17 12:32] okumujustine opened #131 "User profile details doesn't not email address."
### Preflight Checklist

[X] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

A clear and concise description of what the bug is.

#User email is not returned when retrieving a user, so users are assigned default email addresses in the UI.

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://www.mumble.

[2021-05-17 12:46] okumujustine commented on #131
I am actually working on it @MidouWebDev , can i push on ?

[2021-05-17 12:47] MidouWebDev commented on #131
@okumujustine sure

[2021-05-17 12:47] MidouWebDev commented on #131
I assigned you @okumujustine

[2021-05-17 13:16] MidouWebDev commented on #129
@Kaushal-Dhungel i assigned you

[2021-05-17 18:57] abhivemp opened #135 "Search tags and skills"
### Is your feature request related to a problem? Please describe.

Need an API endpoint on the user component to search through tags and skills.
The models, called TopicTag and SkillTag, stay in the users app

#

### Describe the solution you'd like

Probably the usage of the `Q` package from django. Would love to discuss better options here.

#

[2021-05-17 18:59] abhivemp opened #136 "Test Data for TopicTags and TopicSkills"
### Is your feature request related to a problem? Please describe.

New Model tables created. Will need json files with test data so developers can load it to their development db

#

### Describe the solution you'd like

Create a json file so the `loaddata` command could parse.

#

[2021-05-18 11:47] TomNewton1 commented on #135
Hey Abhi,

I am really interested to pick this up as a good first issue. Am I correct in understanding that we need to create a relation between the User model and the TopicTag and SkillTag model? (I looked them up in the img below)

<img width="672" alt="Screenshot 2021-05-18 at 12 43 50" src="https://user-images.githubusercontent.com/34078081/118645333-b4d9f780-b7d6-11eb-8994-8c5f23f10889.png">

[2021-05-18 14:25] abhivemp commented on #135
Hey @TomNewton1 ! Thanks for picking up this issue. I actually implemented the tags and skills to our models and db yesterday (currently, it's a PR in #134 ). Check that out to see the models implementation.
All you have to do here is write a search function so the endpoint can be used to query through articles, posts, etc.
We actually need to update that diagram. Will work on that today.

[2021-05-18 14:33] #129 closed

[2021-05-18 16:37] raushanrk5 commented on #135
Hey @abhivemp, I have also an idea about this issue, like we will show the tags related to article, down its title, and when someone click over any tag, we will show the top articles related to that tag, I have already done with the implementation of this, but it needs, total votes on an article, but that functionality is not done yet, so waiting for that.

[2021-05-18 17:32] rshalem commented on #122
Hey :) Hope you guys are doing good.
Couple of questions,

- We already have a view to handle article via its primary key, so it can be used for Detail view for that article
- Also, do we want a detail view page to be there ? If yes, is the detail page template created already ?
- If not then when its created, we have to only refer this getArticle view

Looking forward to hear from you

[2021-05-18 17:35] MidouWebDev commented on #122
@PraveenMalethia @abhivemp

[2021-05-18 18:05] codyseibert commented on #122
@rshalem I think this issue should have been created in the Mumble (react ui) repo.  All of the backend endpoints needed to fetch a single article exist.  I think this issue is related to adding a link to the UI when clicking the article.  Please correct me if I am wrong.  If you think this is a UI related issue, please close and re-open in the other repo @ https://github.com/divanov11/Mumble

[2021-05-18 18:07] rshalem commented on #122
@codyseibert I thought so as well. This is something related to frontend. I can close this issue here right ?

[2021-05-18 18:09] #122 closed

[2021-05-18 18:18] #131 closed

[2021-05-18 18:25] codyseibert opened #138 "Refresh token missing on register response which crashes the UI"
### Preflight Checklist

[] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

When a new user tries to register, the UI crashes because the /register/ endpoint is not returning the `refresh` JWT token.  We need this endpoint to return the refresh token just like it works with the login/ endpoint.

#

### To Reproduce

Ste

[2021-05-18 18:56] rshalem opened #139 "Can we check Emails entered against proper email service providers while signup, to avoid zibberish email registration"
### Is your feature request related to a problem? Please describe.

Currently, any email address can be taken up for registration, we need to avoid that

#

### Describe the solution you'd like

While user enters his/her email address, we can send an ajax request to a check VIEW to verify whether the entered email address is from a valid email service provider like gmail, hotmail, etc, depending o

[2021-05-18 18:56] rshalem commented on #139
I can work on this feature. Thanks

[2021-05-18 18:59] MidouWebDev commented on #139
@rshalem

we are going to add a email verification after the register so that the user will recieve an email with the verification link

i am sure that @PraveenMalethia will give you more infos about it

[2021-05-18 19:01] rshalem commented on #139
Great

[2021-05-18 22:53] PraveenMalethia commented on #139
@rshalem  Can you also raise this issue in the frontend repo! Using JS it can also be validated at the frontend!
But yeah we also need some validation at the backend! Looking forward to your contribution!

[2021-05-18 23:00] PraveenMalethia commented on #138
Fixed !

[2021-05-18 23:00] #138 closed

[2021-05-19 05:03] codyseibert commented on #135
@raushanrk5 @abhivemp can we keep this simple for now and just created an endpoint that we can hit such as `/api/users?interest=javascript` `/api/users?skill=javascript`

[2021-05-19 05:06] #88 closed

[2021-05-19 05:08] #23 closed

[2021-05-19 05:10] codyseibert commented on #139
I don't think we should check for gmail, yahoo, etc.  People can have their own custom email domains, so it isn't fair to require only gmail emails, etc.  At the very least we should verify the email is in the proper format, and the verification email should help prevent bogus emails

[2021-05-19 05:25] rshalem commented on #139
@codyseibert Sounds fair enough. I can write for only format check or will think of some way. Thanks

[2021-05-19 07:44] itzomen opened #140 "add serializers of the skills and tags on the user, discussion and article apps"
### Is your feature request related to a problem? Please describe.
The skills and tag have been added in the models of the user app, so i want to proceed and create the serializers.

#

### Describe the solution you'd like
I will create the serializers for the skills and tags in the user app. Secondly will update the discussion and article apps with the skills and tags and finally create the seria

[2021-05-19 07:44] itzomen commented on #140
I want to work on this can someone assign it to me, thanks

[2021-05-19 07:45] MidouWebDev commented on #140
@itzomen sure ! 😉

[2021-05-19 07:47] MidouWebDev commented on #139
@rshalem i assigned you !

[2021-05-19 13:39] onizuka341 opened #141 "Ordering mumbles by date and vote_rank"
A clear and concise description of what the problem is.

The mumbles are ordered by date only a better way is to order them by upvotes too

 in the feed app views.py line 31 we have this
 mumbles = Mumble.objects.filter(parent=None, user__id__in=ids)
 accoreding to the Meta class of the Mumble model the mumbles are ordered by the creation date

#
Solution

 a better way is to order them by both da

[2021-05-19 13:50] onizuka341 commented on #141
I want to work on this

[2021-05-19 13:56] PraveenMalethia commented on #141
Also please add this ordering in the article and discussion app!

[2021-05-19 13:59] codyseibert opened #142 "Setup Bleach to Sanitize Articles"
### Is your feature request related to a problem? Please describe.

Articles are created using CK-Editor which can allow people to upload malicious HTML.  We need to sanitize that HTML before the UI can try to display it.

#

### Describe the solution you'd like

We want to install Bleach https://github.com/mozilla/bleach so that we can sanitize the HTML uploaded when users created and edit articl

[2021-05-19 14:05] onizuka341 commented on #141
Okey i'll handle this

[2021-05-19 14:22] onizuka341 commented on #141
to do this i need to add the vote_rank field to the article and discussion models and then add the upvote and downvote functionality i think that i will put this in another enchacement feature

[2021-05-19 14:39] M-krishna opened #144 "Setup pip-tools to manage dependencies"
# Problem
* As the project grows we may add in more number of dependencies which are hard to upgrade/downgrade and also hard to upgrade/downgrade their dependencies as well if we directly update the `requirements.txt` file.

# Solution
* To use `pip-compile` to generate the `requirements.txt` file, since it'll take care of the indirect dependencies used by a particular package and upgrade/downgrad

[2021-05-19 17:27] VladMikheenko opened #145 "Add custom classes in admin.py"
### Is your feature request related to a problem? Please describe.

We should add custom classes in admin.py files in order to include target search and increase readability on admin page.

#

### Describe the solution you'd like

I would like to create custom classes, which are inherited from admin.ModelAdmin, so I need to get basic information, such as:
1. Which model field we should use for sea

[2021-05-19 19:41] codyseibert opened #147 "Endpoint for getting all of my OWN followers"
### Is your feature request related to a problem? Please describe.

When a user logs in, we need a way to fetch all the users they are following so that we can easily hide / show the follow / unfollow buttons in the UI.  Also, we will need to list out all the users they follow so that they can easily navigate through their users in their dashboard.

Note, we return all the users that follow anothe

[2021-05-19 21:26] #141 closed

[2021-05-19 21:45] #139 closed

[2021-05-20 03:34] Kaushal-Dhungel commented on #142
Hello @codyseibert. I would like to work on it although I have no idea what bleach is.

[2021-05-20 21:45] #147 closed

[2021-05-20 21:47] codyseibert commented on #142
@Kaushal-Dhungel https://github.com/mozilla/bleach check out the readme.  It should be straight forward.  Pip install it.  Make sure you do a pip freeze > requirements.txt, and then use the example code for when people create articles.  We want to run `bleach.clean` over the article content before we save it into the database.

[2021-05-21 02:25] guilleijo opened #151 "Follow python naming conventions"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

Variables and functions that are currently using `camelCase` should be changed to `snake_case`. This would improve the code quality.

The following files should be refactored:

#### article
- [ ] article/views.py

#### discussion
- [ ] discussion/views.py

#### feed
- [ ] feed/serializers.py (

[2021-05-21 04:57] Kaushal-Dhungel commented on #142
I think overriding the save method would be the best way to do it. Or should I do it in views before saving it to the database??

[2021-05-22 11:08] MidouWebDev commented on #151
@guilleijo thanks for opening this issue !
Can you please refer to the contributing guidelines because you forgot adding this issue to the project board !

https://github.com/divanov11/Mumble/blob/master/Project_Board.md

[2021-05-22 14:12] itzomen opened #155 "add cud functionality for tags in article, discussion and user apps"
### Is your feature request related to a problem? Please describe.

The tags fields have been updated, now the tags create, update and delete functionality are to be implemented

#

### Describe the solution you'd like

I would love to add the cud functionalities by editing the app views.py appropriately

[2021-05-22 15:33] PraveenMalethia commented on #155
As for tags Admin panel is enough!

[2021-05-22 15:35] PraveenMalethia commented on #144
What do that "break down dev and prod dependencies mean exactly" ?

[2021-05-22 17:23] codyseibert opened #156 "500 Error when trying to create articles"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

We can't create new articles

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to /create-article
2. try to create an article
3. the api throws a 500 error (see attached image)

#

### What was expected ?

The endpoint should not th

[2021-05-22 18:19] itzomen commented on #155
Alright, but what about the views for creating the article/discussion I think they need some modifications

[2021-05-22 18:36] #140 closed

[2021-05-22 18:53] PraveenMalethia commented on #156
Try now ! Lemme know if that solved or not !

[2021-05-22 19:00] codyseibert commented on #156
@PraveenMalethia you fixed it!  You're a wizard!

[2021-05-22 19:00] #156 closed

[2021-05-22 19:12] codyseibert commented on #155
We might want at least an endpoint for getting and searching all tags.  I can foresee people tagging stuff with react, reactjs, react.js which is going to just create a bunch of redundant tags that mean the same thing. In the UI, it would be nice if they type "re" and react would pop down for auto complete.

[2021-05-22 19:14] codyseibert commented on #142
I think overriding save on the model would be safest, but make sure it's safe to call bleach on a already sanitized html.  Because if the user just needs to update the title, we don't want the sanitizer to mess up the content if ran twice.

[2021-05-22 20:33] itzomen commented on #155
Alright gotcha

[2021-05-22 20:39] #155 closed

[2021-05-23 12:47] M-krishna commented on #144
Imagine you have dependencies that is only used for development purposes and not exactly for production. Let's take `package.json` for example, there contains both `dependencies` and `dev-dependencies` separately.

[2021-05-23 15:46] ShyamSundhar1411 opened #158 "Email Backend"
Email Backend is set to Console Backend need to be changed so that forget password can work perfectly. When I tried forget password the email is not being sent. Please work on it Sir. Since I have not gone through the complete structure of the project I am leaving this issue to someone else to resolve
Thank You

[2021-05-24 02:28] codyseibert opened #160 "Following endpoint is crashing"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

A following endpoint is crashing, see attached image.

#

### To Reproduce

Steps to reproduce the behavior:

1. login
2. refresh the UI and see the following network error

#

### What was expected ?

This endpoint should return all the users

[2021-05-24 05:22] codyseibert opened #161 "Add Ability to update user interests and skills"
### Is your feature request related to a problem? Please describe.

There isn't a way to update a users interests or skills.  We need to either update the profile_update to allow updates on nested resources, or add new endpoints to allow us to set them to new values

[2021-05-24 05:28] codyseibert opened #162 "Changing Username doesn't update the User model username"
### Preflight Checklist

[x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### To Reproduce

Steps to reproduce the behavior:

1. call the api/users/profile_update endpoint and change the username
2. try to login with the new username and it won't let you
3. try calling /api/users/<username> and notice it can't find the username you just c

[2021-05-24 21:34] PraveenMalethia commented on #107
Let me know who wants to get assigned!

[2021-05-24 21:37] PraveenMalethia commented on #158
Yes, The Console Email backend will be changed just before we launch the website! for now! we don't want to expose any real email id and password! we are trying to figure out how can we hide that and use the console email backend in development or local env and use SMTP email backend to send an email for a password reset!

[2021-05-24 22:22] guilleijo commented on #151
Oh sorry about that, didn't know. Thanks!

[2021-05-25 01:14] codyseibert opened #164 "Setup Github Actions"
### Describe the solution you'd like

We want tests to run when people create pull requests.

[2021-05-25 04:29] ShyamSundhar1411 commented on #158
This article might help. We have to create two seperate settings.py one for production and for development.
https://stackoverflow.com/a/34891731

[2021-05-25 04:48] #160 closed

[2021-05-25 04:49] #145 closed

[2021-05-25 04:52] codyseibert opened #166 "Ability to delete account"
### Is your feature request related to a problem? Please describe.

As a user, I may decide I want to remove my account and all content associated with it.  We need an endpoint to delete our accounts.

#

### Describe alternatives you've considered

We could disable accounts, but deleting it provides better security.

[2021-05-25 06:34] MidouWebDev commented on #151
No problem @guilleijo
You can find more instruction in the Mumble Docs Website : https://midouwebdev.gitbook.io/mumble-docs

[2021-05-25 12:48] Leopold-V opened #167 "The profile endpoint is not working"
### Preflight Checklist

- [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.
#

### Describe the bug

The api endpoint /api/users/profile/ is crashing.

On the frontend this route is fetch each time the App component render which means when we load the page. Hence we get the user profile datas that we can consume in the UI.

But since it isn't

[2021-05-25 13:50] Kaushal-Dhungel commented on #142
As per the video by Dennis, the article model is going to be removed. I asked in the discord if I should still work on this issue or not and Praveen suggested skipping this as of now. Should I still work on this or take another issue??

[2021-05-25 22:33] PraveenMalethia commented on #166
@codyseibert  Are you working on this ?

[2021-05-25 22:47] PraveenMalethia commented on #158
It will be really better if we keep things simple and beginner-friendly so anyone can come and contribute if they want!
Also, we can achieve the same in a single file by just using an `if` statement!
I hope you got my point!

[2021-05-26 01:50] PraveenMalethia commented on #167
Please have a look now! it's fixed!

[2021-05-26 01:50] #167 closed

[2021-05-26 03:23] codyseibert commented on #166
Nope

[2021-05-26 03:40] #161 closed

[2021-05-26 03:41] codyseibert commented on #66
I feel like he wrote a decent amount of tests, so I'm just going to close.

[2021-05-26 03:41] #66 closed

[2021-05-26 04:03] ShyamSundhar1411 commented on #158
Yeah Sure Sir

[2021-05-27 03:12] PraveenMalethia commented on #166
okay! I got this

[2021-05-27 03:25] PraveenMalethia opened #168 "Unable to login in local repo !"
### Describe the bug

A clear and concise description of what the bug is when i login in local repo it returns this error

### Screenshots

![image](https://user-images.githubusercontent.com/59171685/119761349-40374500-bec9-11eb-8e76-094b02100ddc.png)

[2021-05-27 12:43] Kaushal-Dhungel commented on #162
I would like to work on this.

[2021-05-27 13:07] Sachin-chaurasiya opened #169 "Getting Error While Registering"
### Describe the bug

A clear and concise description of what the bug is Getting Error while Registering

#

### Screenshots

![image](https://user-images.githubusercontent.com/59080942/119831059-836dd400-bf1a-11eb-9ee4-1eb598176277.png)

#

[2021-05-28 07:28] #166 closed

[2021-05-28 07:34] PraveenMalethia commented on #144
all of the dependencies in Django are used for dev and production I guess!
can you define which dependencies are used for dev and prod in this project?

[2021-05-28 07:36] PraveenMalethia commented on #142
You can skip this for now! If you can take any other issue ?! lemme know @Kaushal-Dhungel

[2021-05-28 10:37] Sachin-chaurasiya commented on #169
Okay, Thank you @PraveenMalethia

[2021-05-29 06:32] MidouWebDev commented on #142
Articles will be removed

[2021-05-29 06:32] #142 closed

[2021-05-29 11:49] M-krishna commented on #144
I don't exactly know what dependencies are used for dev and prod in this project. But for eg. take `django-debug-toolbar` package, this is not currently added in this project. This package is only used for dev purpose and not on the prod side. So this can package must be added on the dev-dependencies.

Likewise all the packages can be split.

[2021-05-30 20:21] codyseibert commented on #169
@PraveenMalethia do you think this is because of the s3 setup Dennis recently added?

[2021-06-02 12:03] PraveenMalethia commented on #151
@guilleijo are you working on this ? Please let us know !

[2021-06-02 12:15] PraveenMalethia commented on #144
Heroku requires `requirements.txt` to grab all dependencies for build process and then run app .

[2021-06-02 13:13] M-krishna commented on #144
`pip-compile` will automatically generate the `.txt` file. The thing is that we won't be editing the `.txt` file directly. We'll edit the `requirements.in` file and run `pip-compile` which will then spit out the `requirements.txt` file.

Then the `requirements.txt` file can be used by Heroku.

[2021-06-02 16:22] guilleijo commented on #151
Hey @PraveenMalethia, sorry I have not had the time. If anyone wants to work in this can go ahead and do it. It can also be divided by files or apps and multiple PRs can be done.

I'll unassign myself so it's free for taking 👍

[2021-06-03 19:41] MidouWebDev commented on #169
We can register now ! 😉

[2021-06-03 19:42] MidouWebDev commented on #168
We can login now ! 😉

[2021-06-03 21:35] codyseibert commented on #135
@raushanrk5 are you still working on this?   have you made any progress?

[2021-06-04 19:21] bashiru98 commented on #162
has this issue been resolved ?

[2021-06-04 19:27] MidouWebDev commented on #162
@Kaushal-Dhungel has this issue been resolved ?

[2021-06-04 19:29] bashiru98 commented on #92
oauth is for  general purpose so like he said we will implement that  later

[2021-06-04 19:32] bashiru98 commented on #162
i want to work on it but we need to find out to see if @Kaushal-Dhungel  has already resolved it

[2021-06-04 21:35] MidouWebDev commented on #162
@bashiru98 i will assign you tomorrow if @Kaushal-Dhungel didn't answer

[2021-06-05 03:31] Kaushal-Dhungel commented on #162
hey @MidouWebDev . I am still getting NoCredentialsError while registering, that's why I have not been able to solve it yet.

[2021-06-05 08:36] MidouWebDev commented on #162
@Kaushal-Dhungel DM @PraveenMalethia to solve this problem !

[2021-06-05 08:50] PraveenMalethia commented on #169
@codyseibert Yes it is becoz of s3 setup !

[2021-06-06 05:48] codyseibert commented on #151
I did this refactor

[2021-06-06 05:49] codyseibert commented on #119
Since we don't plan to have articles, I'm going to close this for now.

[2021-06-06 05:49] #119 closed

[2021-06-06 05:50] codyseibert commented on #107
Has this been fixed?

[2021-06-06 05:54] codyseibert commented on #169
K I think I have a fix for using file system storage when running locally

[2021-06-08 16:00] Girik1105 opened #171 "Block users"
### Implementation
I'll add a many to many field of block user in the user profile model. I'll add a view similar to the following view where anyone who blocks an user will be added to that user's manytomany field.

The implementation of this feature:  For example user A blocks User B. Then user B will not be able to search for user A's mumbles, he/she will not be able to search or view User A's p

[2021-06-08 16:05] MidouWebDev commented on #171
@Girik1105 i assigned you !
Happy coding !

[2021-06-09 08:58] PraveenMalethia opened #173 "setting comment count as a serializerMethodField"
I will add the comment count as a field in the serializer
and get the count in the method
and comment count from models will be removed in order to save space in DB!
in method, the function will fetch the mumble who has the parent id attached!

[2021-06-09 09:01] PraveenMalethia commented on #173
also, we can get rid of signals and reduce code!
signals which are for updating comment count!
this will also improve the readability of code!
solving the issue https://github.com/divanov11/Mumble/issues/443

[2021-06-09 16:29] divanov11 commented on #173
Do you think it will slow down load time? I added that as a hard coded value so we dont have to perform the calculation on each request...

[2021-06-13 06:15] nasir733 opened #176 "Realtime notifications with websockets & DjangoChannels"

[2021-06-13 10:38] PraveenMalethia commented on #158
setup two different files for setting done!
Thank you @ShyamSundhar1411
tried to keep simple as possible.

[2021-06-13 10:38] #158 closed

[2021-06-13 10:39] PraveenMalethia commented on #107
@codyseibert  maybe not !

[2021-06-13 10:42] PraveenMalethia commented on #107
so now you can't remumble your own post! this issue will no longer exist I guess!

[2021-06-14 05:42] shukl08vk opened #179 "Getting Foreign Key constraint failed error while running loaddata command"
HI,
I am getting this below error while loading the test JSON data using the command *python manage.py loaddata articledata.json*

    raise dj_exc_value.with_traceback(traceback) from exc_value
  File "D:\Programming\Django\mumbleapi\env\lib\site-packages\django\db\backends\base\base.py", line 242, in _commit
    return self.connection.commit()
django.db.utils.IntegrityError: FOREIGN KEY constrai

[2021-06-14 11:36] PraveenMalethia commented on #179
did you created the superuser first ?

[2021-06-14 11:40] shukl08vk commented on #179
Yes, I followed the exact steps as it is there.

[2021-06-14 11:42] shukl08vk commented on #179
fetchdata.json file loaded smoothly but for the next two data, I am facing the same foreign key constraint error.

[2021-06-14 12:05] PraveenMalethia commented on #162
it's changing to my end ! can you share the process of how this issue occurs at your end?

[2021-06-14 12:08] #173 closed

[2021-06-22 02:13] PraveenMalethia commented on #179
okay ! let me see

[2021-06-27 02:21] sulavmhrzn opened #181 "Refactoring models to follow DRY principle"
### Is your feature request related to a problem? Please describe.
No, i just saw different model class having the same attribute

#

### Describe the solution you'd like
Can't we move the similar attribute in this case

to a separate class and make other class that needs *created* to inherit from the class?
#

### Describe alternatives you've considered
[code]

[2021-06-30 18:52] FredyChivalan commented on #181
how can I take this issue, I want to collaborate.

[2021-07-08 21:04] bashiru98 commented on #162
hope the issue has been resolved

[2021-07-13 21:13] PraveenMalethia commented on #181
Thank you for your suggestion @sulavmhrzn , i will assign this to you soon @FredyChivalan .

[2021-07-25 21:48] Azeezdot123 commented on #181
@PraveenMalethia if  this is not started I can pick this up. Thanks!

[2021-07-26 03:20] Azeezdot123 commented on #181
@PraveenMalethia  pls assign this to me.

[2021-07-31 09:02] IlyaMichlin commented on #179
Same issue but I get it only when running "python manage.py loaddata discussiondata.json"

[2021-08-19 19:02] #168 closed

[2021-08-19 19:02] #169 closed

[2021-08-19 19:03] #151 closed

[2021-11-10 15:32] Gedihared6409 commented on #107
@py7crypt  has this issue been resolved ?

[2021-12-24 19:18] rezaizadijahromi opened #184 "profile update test"
#

### Describe the bug

There is a problem with profile update test
in the profile update view we just let user to update their email but in the test function we are updating the username
when we run the test for update profile it not gonna pass the test

#

### Screenshots

![Screenshot (524)](https://user-images.githubusercontent.com/46366715/147369910-1fe675a0-2b05-4280-b44a-b7271e291efa.png)

[2022-01-09 00:57] marianoesteban commented on #179
The error seems to be caused by the `tags` field for some reason. Removing the `tags` from the `discussiondata.json` file solved the problem for me.